a, h2.groupheader {
    color: #4646a2;
}

a {
    color: #4646a2;
}

h2.groupheader,
div.header {
    border-color: #2d2d46;
    border-width: 2px;
    background: none;
}

#titlearea {
    border: none;
    padding-bottom: 1em;
}

#main-nav ul {
    background: #2d2d46;
    color: white;
}

#main-nav ul * {
    color: white;
}

.sm-dox a, .sm-dox a:focus, .sm-dox a:active, .sm-dox a:hover, .sm-dox a.highlighted {
    background: none;
    text-shadow: none;
}

.has-submenu-highlighted {
    background: #2d2d46;
}

#MSearchBox {
    display: none;
}

.memtitle, .memproto, dl.reflist dt {
    border: none;
    box-shadow: none;
    background: #2d2d46;
    color: white;
    text-shadow: none;
}

.memtitle a {
    color: #ddd;
}

.paramname, .arrow {
    color: #999;
}

.ui-resizable .ui-resizable-handle {
    background: #2d2d46;
    width: 2px;
}

#nav-sync {
    display: none;
}

.sm-nowrap * {
    background: #2d2d46;
}

.sm-dox ul a, .sm-dox ul a:focus, .sm-dox ul a:hover, .sm-dox ul a:active {
    background-color: transparent;
}

.sm-dox ul {
    border: 2px solid #2d2d46
}

#nav-tree .item.selected {
    background: #2d2d46;
    color: white;
}

#nav-tree a {
    display: inline-block;
    color: #2d2d46;
    padding: 0.3em;
}